@mixin button_small {
  width: 115px;
  height: 38px;
  border: none;
  border-radius: 100px;
  padding-top: 10px;
  background-color: $blue-color;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  @extend %small-button-font;
}

@mixin button_large {
  width: 270px;
  height: 84px;
  border: none;
  border-radius: 100px;
  background-color: $blue-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16.5px;
  line-height: 100%;
  @extend %large-button-font;
  text-decoration: none;
}

@mixin header {
  padding: 50px 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 100%;
}
