@import 'fonts.scss';
@import 'variables.scss';
@import 'extends.scss';
@import 'mixins.scss';

/*general styles*/
html {
  @extend %main-font;
}

.wrapper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 4.2fr 1fr 4fr;
  grid-template-rows: 10% 1fr 9% 9%;
  column-gap: 0.2rem;
  grid-template-areas:
          'header header header'
          'main bg-img bg-img'
          'main bg-img bg-img'
          'footer bg-img bg-img';

  @media all and (max-width: 1440px) {
    grid-template-areas:
          'header header header'
          'main bg-img bg-img'
          'footer bg-img bg-img'
          'footer bg-img bg-img';
  }

  @media all and (max-width: 1240px) {
    grid-template-rows: 15% 1fr 9% 9%;
  }

  @media all and (max-width: 1020px) {
    grid-template-columns: 1fr;
    grid-template-rows: 8% 1.7fr 1fr 10%;
    column-gap: 0;
    grid-template-areas:
            'header'
            'bg-img'
            'main'
            'footer';
  }

  @media all and (max-width: 768px) {
    grid-template-rows: 10% 1.3fr 1fr 10%;
  }

  @media all and (max-width: 576px) {
    grid-template-rows: 30% 1fr 0.5fr;
    grid-template-areas:
            'header'
            'main'
            'footer';
  }
}

.button_small {
  @include button_small;
}

.button_large {
  @include button_large;
}

.img-fluid {
  width: 100%;
  height: auto;

  @media all and (max-width: 1020px) {
    width: 70%;
  }

  @media all and (max-width: 768px) {
    width: 60%;
  }

  @media all and (max-width: 576px) {
    width: 50%;
  }
}

/*header styles*/
.header {
  grid-area: header;
  @include header;
}

/*main styles*/
.main {
  grid-area: main;
  padding-left: 5.8rem;

  @media all and (max-width: 1020px) {
    padding: 0 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media all and (max-width: 1020px) {
    padding: 0 1.25rem;
  }

  &__welcome-title {
    @extend %main-title-font;
    padding-top: 4rem;
    padding-left: 0.5rem;
    @media all and (max-width: 1020px) {
      padding-top: 1.5rem;
      padding-left: 0;
    }
  }

  &__welcome-contents {
    padding-top: 0.9rem;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
    @media all and (max-width: 1020px) {
      padding-left: 0;
    }
  }
}

/*bg-img styles*/
.bg-img {
  grid-area: bg-img;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (max-width: 1020px) {
    padding-top: 2rem;
  }

  @media all and (max-width: 576px) {
    display: none;
  }
}

/*footer styles*/
.footer {
  grid-area: footer;
  padding-left: 6.2rem;

  @media all and (max-width: 1440px) {
    display: flex;
    align-items: center;
  }

  @media all and (max-width: 1020px) {
    padding: 0 4.2rem;
    justify-content: center;
  }

  @media all and (max-width: 1020px) {
    padding: 0 1.25rem;
  }

  @media all and (max-width: 576px) {
    padding: 2rem 1.25rem;
  }

  &__nav {
    list-style: none;
    display: flex;
    gap: 1.7rem;
    padding: 0;

    @media all and (max-width: 1440px) {
      align-items: center;
    }

    @media all and (max-width: 1020px) {
      gap: 3rem;
    }

    @media all and (max-width: 576px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem 2rem;
    }

    a {
      text-decoration: none;
      color: $blue-color;

      @media all and (max-width: 1440px) {
        display: block;
        text-align: center;
      }
    }
  }
}

/* media break-points: 1440, 1240, 1020, 768, 576 */