@font-face {
  font-family: "IntroR";
  src: url("../assets/fonts/IntroRegular.otf");
  src: url("../assets/fonts/IntroRegular.eot") format("embedded-opentype"), url("../assets/fonts/IntroRegular.ttf") format("truetype"), url("../assets/fonts/IntroRegular.woff") format("woff"), url("../assets/fonts/IntroRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IntroB";
  src: url("../assets/fonts/IntroBlackRegular.otf");
  src: url("../assets/fonts/IntroBlack.eot") format("embedded-opentype"), url("../assets/fonts/IntroBlack.ttf") format("truetype"), url("../assets/fonts/IntroBlack.woff") format("woff"), url("../assets/fonts/IntroBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RSL";
  src: url("../assets/fonts/RobotoSlab-Light.ttf") format("truetype");
  src: url("../assets/fonts/RobotoSlab-Light.eot") format("embedded-opentype"), url("../assets/fonts/RobotoSlab-Light.woff") format("woff"), url("../assets/fonts/RobotoSlab-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
/* colors */
html {
  font-family: "RSL", serif;
  font-size: 20px;
  line-height: 1.6;
  font-style: normal;
  font-weight: 300;
  color: #000000;
}
@media all and (max-width: 1240px) {
  html {
    font-size: 18px;
    line-height: 1.4;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

.main__welcome-title {
  font-family: "IntroB";
  color: #000000;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.18;
  text-transform: uppercase;
}
@media all and (max-width: 1240px) {
  .main__welcome-title {
    font-size: 45px;
    line-height: 1.1;
  }
}
@media all and (max-width: 768px) {
  .main__welcome-title {
    font-size: 30px;
  }
}

.button_small {
  font-family: "IntroR", sans-serif;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
@media all and (max-width: 768px) {
  .button_small {
    font-size: 12px;
  }
}

.button_large {
  font-family: "IntroR", sans-serif;
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media all and (max-width: 1240px) {
  .button_large {
    font-size: 27px;
  }
}
@media all and (max-width: 768px) {
  .button_large {
    font-size: 22px;
  }
}

/*general styles*/
.wrapper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 4.2fr 1fr 4fr;
  grid-template-rows: 10% 1fr 9% 9%;
  column-gap: 0.2rem;
  grid-template-areas: "header header header" "main bg-img bg-img" "main bg-img bg-img" "footer bg-img bg-img";
}
@media all and (max-width: 1440px) {
  .grid-container {
    grid-template-areas: "header header header" "main bg-img bg-img" "footer bg-img bg-img" "footer bg-img bg-img";
  }
}
@media all and (max-width: 1240px) {
  .grid-container {
    grid-template-rows: 15% 1fr 9% 9%;
  }
}
@media all and (max-width: 1020px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 8% 1.7fr 1fr 10%;
    column-gap: 0;
    grid-template-areas: "header" "bg-img" "main" "footer";
  }
}
@media all and (max-width: 768px) {
  .grid-container {
    grid-template-rows: 10% 1.3fr 1fr 10%;
  }
}
@media all and (max-width: 576px) {
  .grid-container {
    grid-template-rows: 30% 1fr 0.5fr;
    grid-template-areas: "header" "main" "footer";
  }
}

.button_small {
  width: 115px;
  height: 38px;
  border: none;
  border-radius: 100px;
  padding-top: 10px;
  background-color: #5222D0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.button_large {
  width: 270px;
  height: 84px;
  border: none;
  border-radius: 100px;
  background-color: #5222D0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16.5px;
  line-height: 100%;
  text-decoration: none;
}
@media all and (max-width: 1240px) {
  .button_large {
    height: 64px;
  }
}
@media all and (max-width: 768px) {
  .button_large {
    width: 220px;
    height: 54px;
  }
  .button_large .credit-card {
    display: none;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}
@media all and (max-width: 1020px) {
  .img-fluid {
    width: 70%;
  }
}
@media all and (max-width: 768px) {
  .img-fluid {
    width: 60%;
  }
}
@media all and (max-width: 576px) {
  .img-fluid {
    width: 50%;
  }
}

/*header styles*/
.header {
  grid-area: header;
  padding: 50px 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 100%;
}
@media all and (max-width: 1240px) {
  .header {
    align-items: center;
    padding: 20px 75px;
  }
}
@media all and (max-width: 576px) {
  .header {
    padding: 10px 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  .header .button {
    justify-self: end;
  }
}

/*main styles*/
.main {
  grid-area: main;
  padding-left: 5.8rem;
}
@media all and (max-width: 1020px) {
  .main {
    padding: 0 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media all and (max-width: 1020px) {
  .main {
    padding: 0 1.25rem;
  }
}
.main__welcome-title {
  padding-top: 4rem;
  padding-left: 0.5rem;
}
@media all and (max-width: 1020px) {
  .main__welcome-title {
    padding-top: 1.5rem;
    padding-left: 0;
  }
}
.main__welcome-contents {
  padding-top: 0.9rem;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
}
@media all and (max-width: 1020px) {
  .main__welcome-contents {
    padding-left: 0;
  }
}

/*bg-img styles*/
.bg-img {
  grid-area: bg-img;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 1020px) {
  .bg-img {
    padding-top: 2rem;
  }
}
@media all and (max-width: 576px) {
  .bg-img {
    display: none;
  }
}

/*footer styles*/
.footer {
  grid-area: footer;
  padding-left: 6.2rem;
}
@media all and (max-width: 1440px) {
  .footer {
    display: flex;
    align-items: center;
  }
}
@media all and (max-width: 1020px) {
  .footer {
    padding: 0 4.2rem;
    justify-content: center;
  }
}
@media all and (max-width: 1020px) {
  .footer {
    padding: 0 1.25rem;
  }
}
@media all and (max-width: 576px) {
  .footer {
    padding: 2rem 1.25rem;
  }
}
.footer__nav {
  list-style: none;
  display: flex;
  gap: 1.7rem;
  padding: 0;
}
@media all and (max-width: 1440px) {
  .footer__nav {
    align-items: center;
  }
}
@media all and (max-width: 1020px) {
  .footer__nav {
    gap: 3rem;
  }
}
@media all and (max-width: 576px) {
  .footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 2rem;
  }
}
.footer__nav a {
  text-decoration: none;
  color: #5222D0;
}
@media all and (max-width: 1440px) {
  .footer__nav a {
    display: block;
    text-align: center;
  }
}

/* media break-points: 1440, 1240, 1020, 768, 576 */