@font-face {
  font-family: "IntroR";
  src: url("../assets/fonts/IntroRegular.otf");
  src: url("../assets/fonts/IntroRegular.eot") format("embedded-opentype"), url("../assets/fonts/IntroRegular.ttf") format("truetype"), url("../assets/fonts/IntroRegular.woff") format("woff"), url("../assets/fonts/IntroRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IntroB";
  src: url("../assets/fonts/IntroBlackRegular.otf");
  src: url("../assets/fonts/IntroBlack.eot") format("embedded-opentype"), url("../assets/fonts/IntroBlack.ttf") format("truetype"), url("../assets/fonts/IntroBlack.woff") format("woff"), url("../assets/fonts/IntroBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RSL";
  src: url("../assets/fonts/RobotoSlab-Light.ttf") format("truetype");
  src: url("../assets/fonts/RobotoSlab-Light.eot") format("embedded-opentype"), url("../assets/fonts/RobotoSlab-Light.woff") format("woff"), url("../assets/fonts/RobotoSlab-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
/* colors */
html {
  font-family: "RSL", serif;
  font-size: 20px;
  line-height: 1.6;
  font-style: normal;
  font-weight: 300;
  color: #000000;
}

.main__welcome-title {
  font-family: "IntroB";
  color: #000000;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.18;
  text-transform: uppercase;
}

.button_small {
  font-family: "IntroR", sans-serif;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.button_large {
  font-family: "IntroR", sans-serif;
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  padding: 50px 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 100%;
}

.button_small {
  width: 115px;
  height: 38px;
  border: none;
  border-radius: 100px;
  padding-top: 10px;
  background-color: #5222D0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.button_large {
  width: 270px;
  height: 84px;
  border: none;
  border-radius: 100px;
  background-color: #5222D0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16.5px;
  line-height: 100%;
  text-decoration: none;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.main {
  padding-left: 5.8rem;
  display: flex;
  justify-content: space-between;
}
.main__welcome-section {
  flex: 0 1 24.35rem;
}
.main__welcome-title {
  padding-top: 3.5rem;
  padding-left: 0.5rem;
}
.main__welcome-contents {
  padding-top: 0.9rem;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
}
.main__img-container {
  flex: 0 1 auto;
}

.footer {
  padding-left: 6.2rem;
  margin-top: -3.8rem;
}
.footer__nav {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  padding: 0;
}
.footer__nav a {
  text-decoration: none;
  color: #5222D0;
}