@import 'fonts.scss';
@import 'variables.scss';
@import 'extends.scss';
@import 'mixins.scss';

body {
  @extend %main-font;

  .wrapper {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;

    &__narrow {
      padding-left: 2.5em;
    }
  }

  @include page-header;

  .main {
    padding: 2.4em 3.75em 4em;

    &__header {
      @include main-header;
      .button_small {
        @include button-small;
      }
    }
    &__welcome {
      display: flex;
      justify-content: space-between;


      &-section {
        max-width: 487px;
        padding-top: 3.8em;
      }

      &-title {
        @extend %main-title-font;
      }

      &-contents {
        margin-top: 0.8em;
        margin-bottom: 1.5em;
      }

      .button_large {
        @include button-large;
        margin-left: -0.35em;
        text-decoration: none;
      }

      &-img {
        margin-left: 2.2em;
        margin-right: -3.75em;
        z-index: 3;
      }
    }

    &__footer {
      margin-top: -3.25em;

      &-nav {
        list-style: none;
        display: flex;
        gap: 1.7em;
        padding: 0;

        a {
          text-decoration: none;
          color: $blue-color;
        }
      }
    }
  }
}
